<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.facilityone.wireless.maintenance">

    <application>

        <activity
            android:name=".MaintenanceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"/>

    </application>

</manifest>
