<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testaarx">

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label, android:theme">
        <activity android:name=".mine.MineSignQrCodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            ></activity>
        <activity
            android:name=".scan.FmScanBaseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"></activity>
        <activity
            android:name=".download.OutLineDataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent" /> <!-- <activity -->
        <!-- android:exported="true" -->
        <!-- android:name=".CcccActivity"></activity> -->
        <activity
            android:name="com.facilityone.wireless.demand.DemandActivity"
            android:exported="true" />
        <activity
            android:name="com.facilityone.wireless.demand.DemandCreateActivity"
            android:exported="true" />
        <activity
            android:name="com.facilityone.wireless.workorder.WorkOrderActivity"
            android:exported="true" />
        <activity
            android:name="com.facilityone.wireless.workorder.WorkorderCreateActivity"
            android:exported="true" />
        <activity
            android:name="com.facilityone.wireless.workorder.WorkOrderInfoActivity"
            android:exported="true" />
        <activity
            android:name="com.facilityone.wireless.patrol.PatrolActivity"
            android:exported="true" />
        <activity
            android:name="com.facilityone.wireless.inventory.InventoryActivity"
            android:exported="true" />
        <activity
            android:name="com.facilityone.wireless.maintenance.MaintenanceActivity"
            android:exported="true" />
         <activity
         android:name="com.example.scanzxing.ScanZingMainActivity"
         android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <data android:host="MainActivity" android:scheme="com.tq.time" -->
                <!-- tools:ignore="AppLinkUrlError" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>